[core]
	pager = bat --plain --pager 'less -RF -+X'
	compression = 8
	excludesFile = .gitignore.global

[diff]
	algorithm = minimal
	colorMoved = default

[user]
	email = github+paenis@cark.moe
	name = paenis
[init]
	defaultBranch = main
[maintenance]
	repo = /home/cark/dev/rust/github/neomantis-test/neomantis
[merge]
	conflictStyle = zdiff3
